# Plotly API
PLOTLY_API_KEY=zsx7D5JJnI9D5nW9Kp3Z
PLOTLY_USERNAME=jvalhondo

# Elastic
ELASTICSEARCH_HOST=host
ELASTICSEARCH_PORT=port
ELASTIC_HOST_PROD=host
ELASTIC_PORT_PROD=port
ELASTIC_HOST_DEV=host
ELASTIC_PORT_DEV=port

# Redis
REDIS_HOST_PROD=host
REDIS_PORT_PROD=port
REDIS_DB_PROD=db
REDIS_HOST_DEV=host
REDIS_PORT_DEV=port
REDIS_DB_DEV=db

# Neo4j
NEO4J_HOST_PROD=host
NEO4J_PORT_PROD=port
NEO4J_USER_PROD=user
NEO4J_PASSWORD_PROD=password
NEO4J_HOST_DEV=host
NEO4J_PORT_DEV=port
NEO4J_USER_DEV=user
NEO4J_PASSWORD_DEV=password

# ml-instalment-plan
ML_INSTALMENT_PLAN_URL_PROD=url:port
ML_INSTALMENT_PLAN_URL_DEV=url:port

# WORD2VEC
ML_WORD2VEC_EN=url:port
ML_WORD2VEC_ES=url:port

# ml-shopping-item
ML_SHOPPING_ITEM_URL_PROD=url:port
ML_SHOPPING_ITEM_URL_DEV=url:port

# ml-shopping-cart
ML_SHOPPING_CART_URL_PROD=url:port
ML_SHOPPING_CART_URL_DEV=url:port

# ml-graph
ML_GRAPH_URL_PROD=url:port
ML_GRAPH_URL_DEV=url:port

# ml-customer-identity
ML_CUSTOMER_IDENTITY_URL_PROD=url:port
ML_CUSTOMER_IDENTITY_URL_DEV=url:port

# ml-document-id
ML_DOCUMENT_ID_URL_PROD=url:port
ML_DOCUMENT_ID_URL_DEV=url:port

